In [21]:
import pickle
from collections import defaultdict
from functools import reduce

import pandas as pd
from pandas import DataFrame

from utils import DATA_DIR

FINAL_PROJECT_DIR = DATA_DIR / "final_project" / "final_project_dataset.pkl"

NUMERIC_FEATURES = ['salary',
                    'to_messages',
                    'deferral_payments',
                    'total_payments',
                    'loan_advances',
                    'bonus',
                    'restricted_stock_deferred',
                    'deferred_income',
                    'total_stock_value',
                    'expenses',
                    'from_poi_to_this_person',
                    'exercised_stock_options',
                    'from_messages',
                    'other',
                    'from_this_person_to_poi',
                    'poi',
                    'long_term_incentive',
                    'shared_receipt_with_poi',
                    'restricted_stock',
                    'director_fees']

# Exploratory Data Analysis of Enron data

**Goals**: get a sense for the data and start to form hypothesis about how to use it

Data:
- `download-Enron-dataset.py` has already been run
- files from [udacity/ud120-projects/final_project](https://github.com/udacity/ud120-projects/tree/master/final_project) have been added to `/data`

In [27]:
def build_feature_dict():
    with FINAL_PROJECT_DIR.open('rb') as f:
        final_project_dataset_dict = pickle.load(f)
    feature_dict = defaultdict(lambda: [])
    for person, data in final_project_dataset_dict.items():
        feature_dict['person'].append(person)
        for key, value in data.items():
            feature_dict[key].append(value)

    return feature_dict

In [ ]:
def sum_dict(dictionary, value):
    initial_val = dictionary[value] if value in dictionary else 0
    dictionary[value] = initial_val + 1
    return dictionary


{
    feature: {
        "types": reduce(sum_dict, map(type, values), {}),
        "NaNs": len(list(filter(lambda x: x == 'NaN', values))),
    }
    for feature, values in build_feature_dict().items()
}

## final_project_dataset.pkl

In [22]:
def get_final_project_dataset() -> pd.DataFrame:
    final_project_dataset_file = FINAL_PROJECT_DIR
    with final_project_dataset_file.open('rb') as f:
        final_project_dataset_dict = pickle.load(f)

    df = pd.DataFrame.from_dict(
        final_project_dataset_dict,
        orient="index",
    )
    for numeric_feature in NUMERIC_FEATURES:
        df[numeric_feature] = pd.to_numeric(df[numeric_feature], errors='coerce', downcast='integer')

    return df


final_project_dataset_df: DataFrame = get_final_project_dataset()

In [23]:
final_project_dataset_df.head()

,salary,to_messages,deferral_payments,total_payments,loan_advances,bonus,restricted_stock_deferred,deferred_income,total_stock_value,expenses,from_poi_to_this_person,exercised_stock_options,from_messages,other,from_this_person_to_poi,long_term_incentive,shared_receipt_with_poi,restricted_stock,director_fees
count,9.500000e+01,86.000000,3.900000e+01,1.250000e+02,4.000000e+00,8.200000e+01,1.800000e+01,4.900000e+01,1.260000e+02,9.500000e+01,86.000000,1.020000e+02,86.000000,9.300000e+01,86.000000,6.600000e+01,86.000000,1.100000e+02,1.700000e+01
mean,5.621943e+05,2073.860465,1.642674e+06,5.081526e+06,4.196250e+07,2.374235e+06,1.664106e+05,-1.140475e+06,6.773957e+06,1.087289e+05,64.895349,5.987054e+06,608.790698,9.190650e+05,41.232558,1.470361e+06,1176.465116,2.321741e+06,1.668049e+05
std,2.716369e+06,2582.700981,5.161930e+06,2.906172e+07,4.708321e+07,1.071333e+07,4.201494e+06,4.025406e+06,3.895777e+07,5.335348e+05,86.979244,3.106201e+07,1841.033949,4.589253e+06,100.073111,5.942759e+06,1178.317641,1.251828e+07,3.198914e+05
min,4.770000e+02,57.000000,-1.025000e+05,1.480000e+02,4.000000e+05,7.000000e+04,-7.576788e+06,-2.799289e+07,-4.409300e+04,1.480000e+02,0.000000,3.285000e+03,12.000000,2.000000e+00,0.000000,6.922300e+04,2.000000,-2.604490e+06,3.285000e+03
25%,2.118160e+05,541.250000,8.157300e+04,3.944750e+05,1.600000e+06,4.312500e+05,-3.896218e+05,-6.948620e+05,4.945102e+05,2.261400e+04,10.000000,5.278862e+05,22.750000,1.215000e+03,1.000000,2.812500e+05,249.750000,2.540180e+05,9.878400e+04
50%,2.599960e+05,1211.000000,2.274490e+05,1.101393e+06,4.176250e+07,7.693750e+05,-1.469750e+05,-1.597920e+05,1.102872e+06,4.695000e+04,35.000000,1.310814e+06,41.000000,5.238200e+04,8.000000,4.420350e+05,740.500000,4.517400e+05,1.085790e+05
75%,3.121170e+05,2634.750000,1.002672e+06,2.093263e+06,8.212500e+07,1.200000e+06,-7.500975e+04,-3.834600e+04,2.949847e+06,7.995250e+04,72.250000,2.547724e+06,145.500000,3.620960e+05,24.750000,9.386720e+05,1888.250000,1.002370e+06,1.137840e+05
max,2.670423e+07,15149.000000,3.208340e+07,3.098866e+08,8.392500e+07,9.734362e+07,1.545629e+07,-8.330000e+02,4.345095e+08,5.235198e+06,528.000000,3.117640e+08,14368.000000,4.266759e+07,609.000000,4.852193e+07,5521.000000,1.303223e+08,1.398517e+06

In [26]:
final_project_dataset_df.dtypes

,salary,to_messages,deferral_payments,total_payments,loan_advances,bonus,email_address,restricted_stock_deferred,deferred_income,total_stock_value,...,from_poi_to_this_person,exercised_stock_options,from_messages,other,from_this_person_to_poi,poi,long_term_incentive,shared_receipt_with_poi,restricted_stock,director_fees
METTS MARK,365788.0,807.0,NaN,1061827.0,NaN,600000.0,mark.metts@enron.com,NaN,NaN,585062.0,...,38.0,NaN,29.0,1740.0,1.0,False,NaN,702.0,585062.0,NaN
BAXTER JOHN C,267102.0,NaN,1295738.0,5634343.0,NaN,1200000.0,NaN,NaN,-1386055.0,10623258.0,...,NaN,6680544.0,NaN,2660303.0,NaN,False,1586055.0,NaN,3942714.0,NaN
ELLIOTT STEVEN,170941.0,NaN,NaN,211725.0,NaN,350000.0,steven.elliott@enron.com,NaN,-400729.0,6678735.0,...,NaN,4890344.0,NaN,12961.0,NaN,False,NaN,NaN,1788391.0,NaN
CORDES WILLIAM R,NaN,764.0,NaN,NaN,NaN,NaN,bill.cordes@enron.com,NaN,NaN,1038185.0,...,10.0,651850.0,12.0,NaN,0.0,False,NaN,58.0,386335.0,NaN
HANNON KEVIN P,243293.0,1045.0,NaN,288682.0,NaN,1500000.0,kevin.hannon@enron.com,NaN,-3117011.0,6391065.0,...,32.0,5538001.0,32.0,11350.0,21.0,True,1617011.0,1035.0,853064.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
GRAMM WENDY L,NaN,NaN,NaN,119292.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,119292.0
CAUSEY RICHARD A,415189.0,1892.0,NaN,1868758.0,NaN,1000000.0,richard.causey@enron.com,NaN,-235000.0,2502063.0,...,58.0,NaN,49.0,307895.0,12.0,True,350000.0,1585.0,2502063.0,NaN
TAYLOR MITCHELL S,265214.0,533.0,227449.0,1092663.0,NaN,600000.0,mitchell.taylor@enron.com,NaN,NaN,3745048.0,...,0.0,3181250.0,29.0,NaN,0.0,False,NaN,300.0,563798.0,NaN
DONAHUE JR JEFFREY M,278601.0,865.0,NaN,875760.0,NaN,800000.0,jeff.donahue@enron.com,NaN,-300000.0,1080988.0,...,188.0,765920.0,22.0,891.0,11.0,False,NaN,772.0,315068.0,NaN
GLISAN JR BEN F,274975.0,873.0,NaN,1272284.0,NaN,600000.0,ben.glisan@enron.com,NaN,NaN,778546.0,...,52.0,384728.0,16.0,200308.0,6.0,True,71023.0,874.0,393818.0,NaN

In [ ]:
final_project_dataset_df.describe()

In [ ]:
# how many NaNs do we have?
final_project_dataset_df.isna().sum()

In [ ]:
# who earned the most stock?
final_project_dataset_df["total_payments"].sort_values(ascending=False).head()

In [ ]:
final_project_dataset_df["total_stock_value"].sort_values(ascending=False).head()

In [ ]:
#
final_project_dataset_df["salary"].isna().sum()

In [ ]:
# How many people in the E+F dataset (as it currently exists) have “NaN” for their total payments?
general_total_payment_nan_count = final_project_dataset_df["total_payments"].isna().sum()
general_total_payment_count = len(final_project_dataset_df["total_payments"])
general_total_payment_nan_count / general_total_payment_count

In [ ]:
# How many POIs in the E+F dataset have “NaN” for their total payments?
# What percentage of POI’s as a whole is this?
poi_df = final_project_dataset_df[final_project_dataset_df["poi"]]
poi_total_payment_nan_count = poi_df["total_payments"].isna().sum()
poi_total_payment_count = len(poi_df["total_payments"])
poi_total_payment_nan_count / poi_total_payment_count

In [ ]:
# What is the new number of people of the dataset?
# What is the new number of folks with “NaN” for total payments?
print('new ppl with NaN for total pay: ', general_total_payment_nan_count + 10)
print('new total ppl in dataset: ', general_total_payment_count + 10)

In [ ]:
# What is the new number of POI’s in the dataset?
# What is the new number of POI’s with NaN for total_payments?
print('new poi with NaN for total pay: ', poi_total_payment_nan_count + 10)
print('new total poi in dataset: ', poi_total_payment_count + 10)